{% extends "tickets/base.html" %}

{% load crispy_forms_tags %}

<div class="container-fluid">
{% block bootstrap4_title %}
{{ task.title }}
{% endblock %}

{% block bootstrap4_content %}
<div>
    <div class="d-block p-2 bg-primary text-white text-right" >
        <div class="clearfix">
            <a type="button" class="btn btn-secondary float-left" href="{% url 'task-list' %}">Task list</a>
            <a type="button" class="btn btn-secondary float-left" href="{% url 'task-detail' task.id %}">Back</a>
            <h4> Hello, {{ user.client.full_name }}</h4> 
        </div>
    </div>
    
<div class="row">

    <div class="col-sm-1"></div>

    <div class="col-sm" >

        <h1 class="text-center">{{ task.title }} </h1>
        
        <dl class="row">
            <dt class="col-sm-3">Task text:</dt>
            <dd class="col-sm-9">{{ task.text }}</dd>
        </dl>

        <dl class="row">
            <dt class="col-sm-3">Created by:</dt>
            <dd class="col-sm-9">{{ task.client.full_name }}</dd>
        </dl>

        {% crispy form form.helper %}
        
      
    </div>
    
</div>

</div>
  {% endblock %}
</div>