{% extends "tickets/base.html" %}


<div class="container-fluid">
{% block bootstrap4_title %}
{{ task.title }}
{% endblock %}

{% block bootstrap4_content %}
<div class="row">
    <div class="col-sm">
        <dl>
            <dd><a href="{% url 'task-list' %}">Task list</a></dd>
            <dd><a href="{% url 'task-detail' task.id %}">Back</a></dd>
        </dl>
    </div>
    
    <div class="col-sm-10" >
 
        <h1 class="text-center">{{ task.title }} </h1>

        <dl class="row">
            <dt class="col-sm-3">Task text:</dt>
            <dd class="col-sm-9">{{ task.text }}</dd>
        </dl>

        <dl class="row">
            <dt class="col-sm-3">Created by:</dt>
            <dd class="col-sm-9">{{ task.client.full_name }}</dd>
        </dl>

        <dl class="row">
            <dt class="col-sm-3">Executor:</dt>
            <dd><input value="{{ task.executor.full_name }}" /> from <input value="{{ task.department.name }}" />department</dd>
        </dl>

        <dl class="row">
            <dt class="col-sm-3">Priority:</dt>
            <dd><input value="{{ priority }}" /></dd>
        </dl>

        <dl class="row">
            <dt class="col-sm-3">Status:</dt>
            <dd><input value="{{ status }}" /></dd>
        </dl>

        <dl class="row">
            <dt class="col-sm-3">Tags:</dt>
            <dd><input value="{{ tags }}" /></dd>
        </dl>

    </div>
    
  </div>
  {% endblock %}
</div>