{% extends "tickets/base.html" %}

{% block bootstrap4_title %}
{{ title }}
{% endblock %}


{% block bootstrap4_content %}

<h4 class="d-block p-2 bg-primary text-white text-right" >Hello, {{ user.client.full_name }}</h4>

<div class="row">
  <div class="col-sm-1"></div>

  <div class="col-sm-7">
    <h1>{{ title }}</h1>
    <ul>
    {% for task in tasks %}
    <li><a href="{% url 'task-detail' task.id %}">{{ task.title }}</a></li>
    {% endfor %}
    </ul>
  </div>
  
  <div class="col-sm-4">
    {% block bootstrap4_form %}
    <h2>Add new Task</h2>
    <form action="{% url 'task-list' %}" method="POST">
    {% csrf_token %}

    {{ form.as_p }}
  
    <input type="submit" value="Add Task">
    </form>
    {% endblock %}
  </div>
</div>
{% endblock %}

        


     